.about {
    display: flex;
    flex-direction: column;
    margin-top: 300p;
    padding-top: 100px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 100px 100px;
}

p {
    width: 600px;
}

