.about {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    margin-top: 50px;
}

.about p {
    width: 600px;
}

.techBadges {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 400px;
}

.techBadges img {
    border-radius: 8px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.techBadges img:hover {
    transform: scale(1.1);
}

