.about {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    margin-top: 50px;
}

.about p {
    width: 600px;
}

