header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 300px 0;
}

h1 {
    white-space: nowrap;
    line-height: 0.8;
}



h3 {
    font-size: 36px;
    font-weight: 300;
    text-align: right;

}