
nav {
    display: flex;
    justify-content: flex-end;
    padding: 50px 10px;
    margin-right: 64px;
}

nav a {
    font-weight: 100;
    font-size: 20px;
    margin-left: 32px;
    margin-bottom: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

nav a:hover {
        transform: scale(1.05);
}

