.project {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        margin: 100px 20px;
    }
}

.projectInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40px;
    min-width: 300px;
    max-width: 500px;

    @media (max-width: 768px) {
        margin: 0 40px;   
        margin-top: 16px;     
        min-width: none;
        max-width: none;
        display: flex;
        align-items: center;
        text-align: center;
    }
}

.projectImage {
    width: 100%;
    min-width: 480px;
    min-height: 282px;
    max-height: 280px;
    margin: 0 40px;
    height: 100%;
    border: 1px solid #FFE82C;
    border-radius: 4px;

    @media (max-width: 768px) {
        width: 100%;
        min-width: 350px;
        max-width: 400px;
        min-height: 202px;
        max-height: 200px;
    }
}

img {
    max-width: 500px;

    @media (max-width: 768px) {
        margin-bottom: 16px;
        max-width: 350px;
        margin: 0;
    }
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 0 40px;
    width: 100%;
    max-width: 400px;

    @media (max-width: 768px) {
        margin-bottom: 20px;
    }
    
}

span {
    margin: 24px 0px;
}

.project h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 16px;
}

.techImg img {
    margin-right: 10px;
    border-radius: 8px;
}
